<button class="btn btn-success mb-2" (click)="exportExcel()">Exportar para xlsx</button>

<div class="table-responsive">
  <table class="table table-bordered table-sm table-striped" id="datatable">
    <thead>
        <tr>
            <th rowspan="2" scope="col">#</th>
            <th rowspan="2" scope="col">Nome</th>
            <th rowspan="2" scope="col">Incluido em</th>
            <th rowspan="2" scope="col">Equipe</th>
            <th rowspan="2" scope="col">Telefone</th>
            <th colspan="5" scope="col">Swift</th>
            <th colspan="5" scope="col">Orosimbo Maia</th>
            <th colspan="5" scope="col">Santa Lúcia</th>
            <th rowspan="2" scope="col">Massa solidária</th>
            <th rowspan="2" scope="col">Entrega</th>
            <th rowspan="2" scope="col"></th>
          </tr>
          <tr>
            <th scope="col">Marguerita</th>
            <th scope="col">Calabreza</th>
            <th scope="col">Frango</th>
            <th scope="col">Nhoque</th>
            <th scope="col">Rondeli</th>

            <th scope="col">Marguerita</th>
            <th scope="col">Calabreza</th>
            <th scope="col">Frango</th>
            <th scope="col">Nhoque</th>
            <th scope="col">Rondeli</th>

            <th scope="col">Marguerita</th>
            <th scope="col">Calabreza</th>
            <th scope="col">Frango</th>
            <th scope="col">Nhoque</th>
            <th scope="col">Rondeli</th>
            </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{pedido.nome}}</td>
        <td>{{pedido.incluidoEm | date:'dd/MM/yyyy HH:mm'}}</td>
        <td>{{pedido.equipe}}</td>
        <td>{{pedido.telefone}}</td>


        <ng-container *ngFor="let unidades of pedido.opcoes[0].quantidades; index as unidadeIndex">
            <ng-container *ngFor="let sabor of pedido.opcoes; index as saborIndex">
            <td>{{ pedido.opcoes[saborIndex].quantidades[unidadeIndex] }}</td>
          </ng-container>
        </ng-container>

        <td>{{pedido.qtdMassaSolidaria}}</td>
        <td>{{pedido.entregaEspecial}}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="removeItem(pedido.id, pedido.nome)">
            <i class="material-icons" style="vertical-align: middle;">remove_circle_outline</i>
          </button>
        </td>
      </tr>
    </tbody>

    <tr class="bg-info text-white" *ngIf="pedidos && pedidos.length > 0">
      <td colspan="5" scope="col" class="text-right">TOTAIS</td>
      <ng-container *ngFor="let unidades of pedidos[0].opcoes[0].quantidades; index as unidadeIndex">
          <ng-container *ngFor="let sabor of pedidos[0].opcoes; index as saborIndex">
          <td>{{ getSomaItem(saborIndex, unidadeIndex) }}</td>
        </ng-container>
      </ng-container>
      <td>{{ getSomaMassaSolidaria() }}</td>
      <td colspan="2"></td>
    </tr>
  </table>
</div>
