<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center mt-3">
  <img width="150" src="http://www.hospitalhacos.org.br/wp-content/uploads/2015/06/ong-hospitalhacos.png">
  <h1 class="mt-2 mb-2">Massa Solidária</h1>

</div>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<ng4-loading-spinner> </ng4-loading-spinner>


