<form class="row" (submit)="registrarPedido()">
    <div class="form-group col-lg-7 col-sm-12 mb-3">
      <div class="alert alert-primary" role="alert">
        Preencha as informações abaixo para fazer o seu pedido.<br/>
        Se tiver dúvidas para preencher o formulário veja esse <a href="https://www.facebook.com/groups/voluntarioshpt/permalink/1243733742436457/">vídeo explicativo</a>.
      </div>
    </div>
    <div class="form-group col-lg-7 col-sm-12 mb-3">
      <label for="nomeInput" class="font-weight-bold">Nome completo <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="nomeInput" name="nomeCompleto" [(ngModel)]="nomeCompleto">
    </div>

    <div class="form-group col-lg-7 col-sm-12 mb-3">
      <label for="equipeInput" class="font-weight-bold">Equipe <span class="text-danger">*</span></label>
      <select class="form-control" id="equipeInput" name="equipe" [(ngModel)]="equipe">
        <option value="{{equipe}}" *ngFor="let equipe of equipes">{{equipe}}</option>
      </select>
    </div>

    <div class="form-group col-lg-7 col-sm-12 mb-3">
      <label for="telefoneInput" class="font-weight-bold">Telefone <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="telefoneInput" name="telefone" [(ngModel)]="telefone">
    </div>



    <div class="form-group col-lg-7 col-sm-12 mb-3">
      <label class="font-weight-bold">Defina abaixo as quantidades de itens pedidos por unidade <span class="text-danger">*</span></label>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3">Unidade Swift</div>
        <div class="col-3">Unidade Orosimbo Maia</div>
        <div class="col-3">Unidade Santa Lúcia</div>
      </div>

      <div class="row border-bottom pt-1 pb-1" *ngFor="let opcao of opcoes">
        <div class="col-3">{{ opcao['item'] }}</div>
        <div class="col-3">
          <input type="number" class="form-control" [(ngModel)]="opcao['quantidades'][0]" name="qtde-{{opcao['id']}}-1">
        </div>
        <div class="col-3">
          <input type="number" class="form-control" [(ngModel)]="opcao['quantidades'][1]" name="qtde-{{opcao['id']}}-2">
        </div>
        <div class="col-3">
          <input type="number" class="form-control" [(ngModel)]="opcao['quantidades'][2]" name="qtde-{{opcao['id']}}-3">
        </div>
      </div>
    </div>

    <div class="form-group col-lg-7 col-sm-12 mb-3">
      <label for="massaSolidariaInput" class="font-weight-bold">Massa solidária</label>
      <input type="number" class="form-control" id="massaSolidariaInput" name="massaSolidaria" [(ngModel)]="qtdMassaSolidaria">
    </div>

    <div class="form-group col-lg-7 col-sm-12 mb-3">
      <label for="" class="font-weight-bold">Haverá entrega/retirada acima de 20 unidades?</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="entregaEspecial" id="checkNao" value="Não" checked
          [(ngModel)]="entregaEspecial" name="checkSim">
        <label class="form-check-label" for="checkNao">
          Não haverá retirada ou entrega de pedido acima de 20 unidades
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="entregaEspecial" id="checkSim21" name="checkSim21" value="Sim-21-09"
        [(ngModel)]="entregaEspecial">
        <label class="form-check-label" for="checkSim21">
          Sim, meu pedido será retirado dia <b>21/09</b> (sexta-feira)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="entregaEspecial" id="checkSim22" name="checkSim22" value="Sim-22-09"
        [(ngModel)]="entregaEspecial">
        <label class="form-check-label" for="checkSim22">
          Sim, meu pedido será retirado dia <b>22/09</b> (sábado)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="entregaEspecial" id="checkSim23" name="checkSim23" value="Sim-23-09"
        [(ngModel)]="entregaEspecial">
        <label class="form-check-label" for="checkSim23">
          Sim, meu pedido será retirado dia <b>23/09</b> (domingo)
        </label>
      </div>
    </div>

    <div class="form-group col-lg-7 col-sm-12 text-right mb-3">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#resumoModal"
        [disabled]="!isValid()">Enviar pedido</button>
    </div>
  </form>

  <!-- Modal -->
  <div class="modal fade" id="resumoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Revise seu pedido</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="border-bottom"><b>Nome completo: </b> {{ nomeCompleto }}</p>
          <p class="border-bottom"><b>Equipe: </b> {{ equipe }}</p>
          <p class="border-bottom"><b>Telefone: </b> {{ telefone }}</p>
          <p class="border-bottom">
            <b>Quantidades</b>
            <span *ngFor="let opcao of opcoes">
              <div *ngIf="opcao['quantidades'][0] + opcao['quantidades'][1] + opcao['quantidades'][2] > 0">
                <u>{{opcao.item}}</u><br/>
                <span *ngIf="opcao['quantidades'][0] > 0"> - Swift: {{opcao['quantidades'][0]}} unidades<br/></span>
                <span *ngIf="opcao['quantidades'][1] > 0"> - Orosimbo Maia: {{opcao['quantidades'][1]}} unidades<br/></span>
                <span *ngIf="opcao['quantidades'][2] > 0"> - Santa Lúcia: {{opcao['quantidades'][2]}} unidades<br/></span>
              </div>
            </span>
          </p>
          <p class="border-bottom"><b>Massa solidária: </b> {{ qtdMassaSolidaria }}</p>
          <p class="border-bottom"><b>Entrega/retirada acima de 20 unidades: </b> {{ getLabelEntrega(entregaEspecial) }}</p>

          <p><b>TOTAL DE MASSAS: {{ getSomaTotal() }} unidades</b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar e revisar</button>
          <button type="button" class="btn btn-primary" (click)="registrarPedido()" data-dismiss="modal">Registrar pedido</button>
        </div>
      </div>
    </div>
